<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'cart' %>
<h1>Padrino web framework Apple store demo</h1>

<div style="height:20px">
    <p id="indicator" style="display:none">
        <%= image_tag 'indicator.gif' %> updating cart...
    </p>
</div>

<p>This page demonstrates Ajax support in <a href="http://www.padrinorb.com/">Padrino web framework</a>.
    Original idea from <a href="http://script.aculo.us/demos/shop">script.aculo.us</a>.
    Documentation idea from <a href="http://symfony-project.org">symfony</a>.
</p> 

<p>Drag products to the cart to fill it:</p>

<div id="shopping_cart" data-url="<%= url(:cart, :add, :format => :js) %>">

    <div id="product_list">
        <% @products.each_with_index do |product, index| %>
            <%= image_tag "product#{index}.png", :class => 'products', :id => "product_#{index}" %>
        <% end %>
    </div>

    <h2>Cart:</h2>

    <div id="cart" class="cart">
        <div id="items">
            <%= partial 'cart/cart' %>
        </div>
        <div style="clear: both"></div>
    </div>

</div>

<%= javascript_include_tag 'protopak', 'application' %> 
